* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: linear-gradient(to top right, #271c34, #000000, #140938);
}
