.swiperWork{
  height: 100%;
}
.swiperWork .swiper-button-next,.swiperWork .swiper-button-prev{
  top: auto;
  bottom: 2.5%;
  background: rgba(217, 217, 217, 1);
  color: black;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
}
.swiperWork .swiper-button-next::after,.swiperWork .swiper-button-prev::after{
  font-size: 25px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiperWork .swiper-button-disabled{
  display: none;
}
.swiperWork .swiper-button-next{
  right: 30px;
}
.swiperWork .swiper-button-prev{
  left: 30px;
}

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0);
      opacity: 0;
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1;
  }
}
.swiper-slide-active .linkButton,
.swiper-slide-active .workName{
  animation: fadeInUp;
  animation-duration: 1s;
}
