.burgerMenu{
    background: rgba(193, 208, 24, 1);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.bmLine{
    width:24px;
    height: 2.5px;
    border-radius: 10px;
    background-color: black;
}