.sidebar {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #11072f;
  z-index: 200;
  overflow: hidden;
}
.burgerMenu {
  background: rgba(193, 208, 24, 1);
  width: 54px;
  height: 54px;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.helper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.sidebarOption {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  font-family: var(--manrope);
}
