.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  overflow: hidden;
  padding: 80px 0px;
}
.item {
  position: relative;
  height: 217px;
  padding: 40px;
  padding-left: 25px;
  display: flex;
  gap: 20px;
  min-width: 352px;
  background: linear-gradient(
    104.96deg,
    #101010 -2.85%,
    rgba(24, 23, 23, 0.4) 109.7%
  );
}
.item::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  padding: 1.5px;
  background: linear-gradient(
    111.07deg,
    #ffffff -9.83%,
    rgba(255, 255, 255, 0) 110.81%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.desc {
  color: rgba(134, 134, 137, 1);
  font-family: var(--manrope);
  font-size: 16px;
  font-weight: 500;
  line-height: 21.86px;
  text-align: left;
  max-width: 375px;
}
.imageContainer {
  min-width: 96px;
  min-height: 96px;
  max-height: 96px;
  max-width: 96px;
  border-radius: 12px;
  overflow: hidden;
}

@media (max-width: 800px) {
  .box {
    width: 98%;
  }
  .item {
    height: auto;
  }
  .desc {
    font-size: 12px;
    font-weight: 500;
    line-height: 16.39px;
    text-align: left;
    max-width: 191px;
  }
}
