.scrollCardsContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    position: relative;
}
.card{
    width: 325px;
    aspect-ratio: 375/570;
    position: absolute;
    border-radius: 40px;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}
@media (max-width:1208px){
    .scrollCardsContainer{
        justify-content: center;
    }
}
@media (max-width:600px) {
    .card{
        height: 370px;
        width: auto;
        border-radius: 20px;
    }
}