.scrollCardsContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    border: 2px solid blue;
    position: relative;
}
.card{
    width: 325px;
    aspect-ratio: 375/570;
    position: absolute;
    border-radius: 40px;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}
/* .firstCard{
    transform: translateX(175px);
}
.secondCard{
    transform: translate(25px,-70px);
}
@media (max-width:1210px){
    .scrollCardsContainer{
        justify-content: center;
    }
    .firstCard{
        transform: translateX(175px);
    }
    .secondCard{
        transform: translate(0px,0px);
    }
} */