.about{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--manrope);
    padding: 150px 0px;
    width: 100%;
}
.helper{
    width: 80%;
    display: flex;
    flex-wrap:wrap-reverse;
}
.left{
    flex: 1;
    min-width: 600px;
    min-height: 600px;
}
.right{
    width: 359px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 150px;
}
.heading{
    font-size: 70px;
    font-weight: 600;
    line-height: 95.62px;
    text-align: right;
}
.span{
    color: rgba(134, 134, 137, 1);
    display: block;
}
.desc{
    color: rgba(134, 134, 137, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
    text-align: right;
    max-width: 352px;
}
.somethinglol{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
}
.socialsContainer{
    width: 249px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.downloadResume{
    width: 209px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.86px;
    text-align: center;
    color: rgba(247, 247, 247, 1);
    border: 1px solid rgba(247, 247, 247, 1);
    border-radius: 49px;
}
.downloadResumeMobile{
    padding: 17px 34px;
    background: rgba(193, 208, 24, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:49px;
    color: black;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.86px;
    text-align: center;
}
@media (max-width:1208px){
    .right{
        flex: 1;
        min-width: 359px;
        width: auto;
        align-items: flex-start;
        margin-bottom: 50px;
    }
    .span{
        display: inline;
    }
    .desc{
        text-align: left;
    }
    .left{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:800px) {
    .desc{
        font-size: 14px;
        font-weight: 600;
        line-height: 19.12px;
        text-align: left;
    }
    .right{
        flex: none;
        min-width:auto;
        width: 359px;
        gap: 50px;
    }
    .left{
        margin-top: 60px;
        min-width:350px;
        max-width:none;
        gap: 50px;
    }
    .heading{
        font-size: 40px;
        font-weight: 600;
        line-height: 54.64px;
        text-align: right;
    }
    .about{
        padding: 80px 0px;
    }
    .helper{
        width: 100%;
        justify-content: center;
    }
}